****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [ ]:
# load json as string
json.load((open('data/world_bank_projects_less.json')))

****
## JSON exercise | Data Provided by World Bank

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [22]:
import pandas as pd
import json
from pandas.io.json import json_normalize
import numpy as np

In [23]:
# Read and save dataset as a dataframe:
df = pd.read_json('data/world_bank_projects.json')

# Inspect the state of the dataframe:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
_id                         500 non-null object
approvalfy                  500 non-null int64
board_approval_month        500 non-null object
boardapprovaldate           500 non-null object
borrower                    485 non-null object
closingdate                 370 non-null object
country_namecode            500 non-null object
countrycode                 500 non-null object
countryname                 500 non-null object
countryshortname            500 non-null object
docty                       446 non-null object
envassesmentcategorycode    430 non-null object
grantamt                    500 non-null int64
ibrdcommamt                 500 non-null int64
id                          500 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
lendinginstr                495 non-null object
lendinginstrtype            495 non-null object
lendprojectcost             500 non-null int64
majorsector_percent         500 non-null object
mjsector_namecode           500 non-null object
mjtheme                     491 non-null object
mjtheme_namecode            500 non-null object
mjthemecode                 500 non-null object
prodline                    500 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
project_abstract            362 non-null object
project_name                500 non-null object
projectdocs                 446 non-null object
projectfinancialtype        500 non-null object
projectstatusdisplay        500 non-null object
regionname                  500 non-null object
sector                      500 non-null object
sector1                     500 non-null object
sector2                     380 non-null object
sector3                     265 non-null object
sector4                     174 non-null object
sector_namecode             500 non-null object
sectorcode                  500 non-null object
source                      500 non-null object
status                      500 non-null object
supplementprojectflg        498 non-null object
theme1                      500 non-null object
theme_namecode              491 non-null object
themecode                   491 non-null object
totalamt                    500 non-null int64
totalcommamt                500 non-null int64
url                         500 non-null object
dtypes: int64(7), object(43)
memory usage: 195.4+ KB

In [24]:
# Set options to inspect ALL of the columns:
pd.options.display.max_columns = 50

# Inspect the structure of the dataframe:
df.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,docty,envassesmentcategorycode,grantamt,ibrdcommamt,id,idacommamt,impagency,lendinginstr,lendinginstrtype,lendprojectcost,majorsector_percent,mjsector_namecode,mjtheme,mjtheme_namecode,mjthemecode,prodline,prodlinetext,productlinetype,project_abstract,project_name,projectdocs,projectfinancialtype,projectstatusdisplay,regionname,sector,sector1,sector2,sector3,sector4,sector_namecode,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,"Project Information Document,Indigenous People...",C,0,0,P129828,130000000,MINISTRY OF EDUCATION,Investment Project Financing,IN,550000000,"[{'Percent': 46, 'Name': 'Education'}, {'Perce...","[{'code': 'EX', 'name': 'Education'}, {'code':...",[Human development],"[{'code': '8', 'name': 'Human development'}, {...","8,11",PE,IBRD/IDA,L,{'cdata': 'The development objective of the Se...,Ethiopia General Education Quality Improvement...,"[{'DocDate': '28-AUG-2013', 'EntityID': '09022...",IDA,Active,Africa,"[{'Name': 'Primary education'}, {'Name': 'Seco...","{'Percent': 46, 'Name': 'Primary education'}","{'Percent': 26, 'Name': 'Secondary education'}","{'Percent': 16, 'Name': 'Public administration...","{'Percent': 12, 'Name': 'Tertiary education'}","[{'code': 'EP', 'name': 'Primary education'}, ...","ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,"Project Information Document,Integrated Safegu...",C,4700000,0,P144674,0,MINISTRY OF FINANCE,Specific Investment Loan,IN,5700000,"[{'Percent': 70, 'Name': 'Public Administratio...","[{'code': 'BX', 'name': 'Public Administration...","[Economic management, Social protection and ri...","[{'code': '1', 'name': 'Economic management'},...","1,6",RE,Recipient Executed Activities,L,NaN,TN: DTF Social Protection Reforms Support,"[{'DocDate': '29-MAR-2013', 'EntityID': '00033...",OTHER,Active,Middle East and North Africa,[{'Name': 'Public administration- Other social...,"{'Percent': 70, 'Name': 'Public administration...","{'Percent': 30, 'Name': 'General public admini...",NaN,NaN,"[{'code': 'BS', 'name': 'Public administration...","BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,"Resettlement Plan,Environmental Assessment,Int...",B,0,0,P145310,6060000,MINISTRY OF TRANSPORT AND COMMUNICATIONS,Investment Project Financing,IN,6060000,"[{'Percent': 100, 'Name': 'Transportation'}]","[{'code': 'TX', 'name': 'Transportation'}]","[Trade and integration, Public sector governan...","[{'code': '5', 'name': 'Trade and integration'...","5,2,11,6",PE,IBRD/IDA,L,NaN,Tuvalu Aviation Investment Project - Additiona...,"[{'DocDate': '21-OCT-2013', 'EntityID': '00033...",IDA,Active,East Asia and Pacific,[{'Name': 'Rural and Inter-Urban Roads and Hig...,"{'Percent': 100, 'Name': 'Rural and Inter-Urba...",NaN,NaN,NaN,"[{'code': 'TI', 'name': 'Rural and Inter-Urban...",TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of","Procurement Plan,Project Information Document,...",C,1500000,0,P144665,0,LABOR INTENSIVE PUBLIC WORKS PROJECT PMU,Technical Assistance Loan,IN,1500000,"[{'Percent': 100, 'Name': 'Health and other so...","[{'code': 'JX', 'name': 'Health and other soci...","[Social dev/gender/inclusion, Social dev/gende...","[{'code': '7', 'name': 'Social dev/gender/incl...","7,7",RE,Recipient Executed Activities,L,NaN,Gov't and Civil Society Organization Partnership,"[{'DocDate': '15-MAY-2013', 'EntityID': '00035...",OTHER,Active,Middle East and North Africa,[{'Name': 'Other social services'}],"{'Percent': 100, 'Name': 'Other social services'}",NaN,NaN,NaN,"[{'code': 'JB', 'name': 'Other social services'}]",JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,"Project Information Document,Integrated Safegu...",B,0,0,P144933,13100000,MINISTRY OF TRADE AND INDUSTRY,Investment Project Financing,IN,15000000,"[{'Percent': 50, 'Name': 'Industry and trade'}...","[{'code': 'YX', 'name': 'Industry and trade'},...","[Trade and integration, Financial and private ...","[{'code': '5', 'name': 'Trade and integration'...","5,4",PE,IBRD/IDA,L,{'cdata': 'The development objective of the Se...,Second Private Sector Competitiveness and Econ...,"[{'DocDate': '06-SEP-2013', 'EntityID': '09022...",IDA,Active,Africa,[{'Name': 'General industry and trade sector'}...,"{'Percent': 50, 'Name': 'General industry and ...","{'Percent': 40, 'Name': 'Other industry'}","{'Percent': 10, 'Name': 'SME Finance'}",NaN,"[{'code': 'YZ', 'name': 'General industry and ...","FH,YW,YZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [25]:
df.countryname.value_counts()

People's Republic of China                  19
Republic of Indonesia                       19
Socialist Republic of Vietnam               17
Republic of India                           16
Republic of Yemen                           13
Kingdom of Morocco                          12
People's Republic of Bangladesh             12
Nepal                                       12
Republic of Mozambique                      11
Africa                                      11
Federative Republic of Brazil                9
Islamic Republic of Pakistan                 9
Burkina Faso                                 9
United Republic of Tanzania                  8
Republic of Armenia                          8
Republic of Tajikistan                       8
Hashemite Kingdom of Jordan                  7
Kyrgyz Republic                              7
Federal Republic of Nigeria                  7
Lao People's Democratic Republic             7
Democratic Republic of the Congo             6
Republic of Peru                             6
Islamic State of Afghanistan                 6
Republic of Kenya                            6
Republic of Nicaragua                        6
West Bank and Gaza                           6
Republic of Liberia                          5
Republic of Moldova                          5
Republic of Honduras                         5
Republic of Haiti                            5
                                            ..
Republic of Cameroon                         2
United Mexican States                        2
Democratic Republic of Timor-Leste           2
Republic of the Marshall Islands             2
Argentine Republic                           2
Arab Republic of Egypt                       2
Jamaica                                      2
Republic of Congo                            1
Kingdom of Tonga                             1
Bosnia and Herzegovina                       1
Republic of Zimbabwe                         1
Republic of Kiribati                         1
Democratic Socialist Republic of Sri Lan     1
Republic of Poland                           1
Romania                                      1
Europe and Central Asia                      1
Republic of Namibia                          1
Central African Republic                     1
Republic of Costa Rica                       1
Republic of Chile                            1
Republic of Belarus                          1
Kingdom of Thailand                          1
Republic of Panama                           1
East Asia and Pacific                        1
People's Republic of Angola                  1
Antigua and Barbuda                          1
Republic of Serbia                           1
Republic of Cape Verde                       1
Republic of Chad                             1
Tuvalu                                       1
Name: countryname, Length: 118, dtype: int64

## 1. Ten Countries with the Most Projects

In [26]:
#Ten Countries with the Most Projects
df.countryname.value_counts()

People's Republic of China                  19
Republic of Indonesia                       19
Socialist Republic of Vietnam               17
Republic of India                           16
Republic of Yemen                           13
Kingdom of Morocco                          12
People's Republic of Bangladesh             12
Nepal                                       12
Republic of Mozambique                      11
Africa                                      11
Federative Republic of Brazil                9
Islamic Republic of Pakistan                 9
Burkina Faso                                 9
United Republic of Tanzania                  8
Republic of Armenia                          8
Republic of Tajikistan                       8
Hashemite Kingdom of Jordan                  7
Kyrgyz Republic                              7
Federal Republic of Nigeria                  7
Lao People's Democratic Republic             7
Democratic Republic of the Congo             6
Republic of Peru                             6
Islamic State of Afghanistan                 6
Republic of Kenya                            6
Republic of Nicaragua                        6
West Bank and Gaza                           6
Republic of Liberia                          5
Republic of Moldova                          5
Republic of Honduras                         5
Republic of Haiti                            5
                                            ..
Republic of Cameroon                         2
United Mexican States                        2
Democratic Republic of Timor-Leste           2
Republic of the Marshall Islands             2
Argentine Republic                           2
Arab Republic of Egypt                       2
Jamaica                                      2
Republic of Congo                            1
Kingdom of Tonga                             1
Bosnia and Herzegovina                       1
Republic of Zimbabwe                         1
Republic of Kiribati                         1
Democratic Socialist Republic of Sri Lan     1
Republic of Poland                           1
Romania                                      1
Europe and Central Asia                      1
Republic of Namibia                          1
Central African Republic                     1
Republic of Costa Rica                       1
Republic of Chile                            1
Republic of Belarus                          1
Kingdom of Thailand                          1
Republic of Panama                           1
East Asia and Pacific                        1
People's Republic of Angola                  1
Antigua and Barbuda                          1
Republic of Serbia                           1
Republic of Cape Verde                       1
Republic of Chad                             1
Tuvalu                                       1
Name: countryname, Length: 118, dtype: int64

### It appears that China and Indonesia have the Most Projects through the World Bank

## 2. Find the top 10 major project themes (using column 'mjtheme_namecode').

In [27]:
#Must load json file as string since df cannot handle nested lists within dataframes
df = json.load((open('data/world_bank_projects.json')))
df = json_normalize(df, 'mjtheme_namecode')
df.head()

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

In [28]:
df =pd.DataFrame(df)
df.name.value_counts()

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Rule of law                                      12
Name: name, dtype: int64

Must fill in the missing values for the complete answer

## 3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

We need to sort values by code so that we can properly align all that is missing with backfill

In [31]:
df = df.sort_values(['code', 'name'])

df.name[df['name'] == ''] = np.nan
df.head(100)

     code                 name
2       1  Economic management
88      1  Economic management
175     1  Economic management
204     1  Economic management
205     1  Economic management
220     1  Economic management
222     1  Economic management
223     1  Economic management
249     1  Economic management
357     1  Economic management
453     1  Economic management
454     1  Economic management
458     1  Economic management
497     1  Economic management
647     1  Economic management
648     1  Economic management
784     1  Economic management
803     1  Economic management
841     1  Economic management
900     1  Economic management
1010    1  Economic management
1045    1  Economic management
1056    1  Economic management
1057    1  Economic management
1078    1  Economic management
1206    1  Economic management
1212    1  Economic management
1218    1  Economic management
1229    1  Economic management
1230    1  Economic management
...   ...                  ...
303    10    Rural development
314    10    Rural development
335    10    Rural development
336    10    Rural development
337    10    Rural development
344    10    Rural development
348    10    Rural development
353    10    Rural development
392    10    Rural development
402    10    Rural development
437    10    Rural development
438    10    Rural development
440    10    Rural development
444    10    Rural development
457    10    Rural development
478    10    Rural development
479    10    Rural development
505    10    Rural development
506    10    Rural development
522    10    Rural development
526    10    Rural development
527    10    Rural development
531    10    Rural development
548    10    Rural development
573    10    Rural development
602    10    Rural development
623    10    Rural development
646    10    Rural development
666    10    Rural development
672    10    Rural development

[100 rows x 2 columns]

In [34]:
df.name.value_counts().head(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Name: name, dtype: int64

The top ten project themes are above!